<a href="https://colab.research.google.com/github/NeilCaccam/CPE-311-CPE22S3---Computational-Thinking-with-Python/blob/main/HOA%206.1/CACCAM___Hands_on_Activity_6_1_%7C_Introduction_to_Data_Analysis_and_Tools.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Exercise 1

In [ ]:
import random
random.seed(0)
salaries = [round(random.random()*1000000, -3) for _ in range(100)]

In [ ]:
len(salaries)

100

In [ ]:
# Mean

sum(salaries)/len(salaries)

585690.0

In [ ]:
# Median

sorted_salaries = sorted(salaries)

n = len(sorted_salaries)
mid = n // 2

if n % 2 == 1:
    median = sorted_salaries[mid]
else:
    median = (sorted_salaries[mid - 1] + sorted_salaries[mid]) / 2

print(median)

589000.0

In [ ]:
# Mode

map_values = {}
for salary in salaries:
  if salary not in map_values:
    map_values[salary] = 1
    continue
  map_values[salary] += map_values[salary] + 1

print(map_values)

{844000.0: 1, 758000.0: 3, 421000.0: 1, 259000.0: 1, 511000.0: 1, 405000.0: 1, 784000.0: 1, 303000.0: 1, 477000.0: 7, 583000.0: 1, 908000.0: 1, 505000.0: 1, 282000.0: 1, 756000.0: 1, 618000.0: 1, 251000.0: 1, 910000.0: 1, 983000.0: 1, 810000.0: 1, 902000.0: 1, 310000.0: 1, 730000.0: 1, 899000.0: 1, 684000.0: 1, 472000.0: 1, 101000.0: 1, 434000.0: 1, 611000.0: 1, 913000.0: 1, 967000.0: 1, 865000.0: 1, 260000.0: 1, 805000.0: 1, 549000.0: 1, 14000.0: 1, 720000.0: 1, 399000.0: 1, 825000.0: 1, 668000.0: 1, 1000.0: 1, 494000.0: 1, 868000.0: 1, 244000.0: 1, 325000.0: 1, 870000.0: 1, 191000.0: 1, 568000.0: 1, 239000.0: 1, 968000.0: 1, 803000.0: 1, 448000.0: 1, 80000.0: 1, 320000.0: 1, 508000.0: 1, 933000.0: 1, 109000.0: 1, 551000.0: 1, 707000.0: 1, 547000.0: 1, 814000.0: 1, 540000.0: 1, 964000.0: 1, 603000.0: 1, 588000.0: 1, 445000.0: 1, 596000.0: 1, 385000.0: 1, 576000.0: 1, 290000.0: 1, 189000.0: 1, 187000.0: 1, 613000.0: 3, 657000.0: 1, 90000.0: 1, 877000.0: 1, 923000.0: 3, 842000.0: 1, 898000.0: 1, 541000.0: 1, 391000.0: 1, 705000.0: 1, 276000.0: 1, 812000.0: 1, 849000.0: 1, 895000.0: 1, 590000.0: 1, 950000.0: 1, 580000.0: 1, 451000.0: 1, 660000.0: 1, 996000.0: 1, 917000.0: 1, 793000.0: 1, 82000.0: 1, 486000.0: 1}

In [ ]:
# Standard Variance

average = sum(salaries)/len(salaries)
len_minus_one = len(salaries) - 1

x_xmean_squared = []
for salary in salaries:
  temp = (salary - average)**2
  x_xmean_squared.append(temp)

summation = sum(x_xmean_squared)
variance = summation/len_minus_one

print(variance)

70664054444.44444

In [ ]:
# Standard Deviation

squared_diffs = [(x - mean) ** 2 for x in salaries]
variance = sum(squared_diffs) / (len(salaries) - 1)
std_dev = variance ** 0.5

print(std_dev)

265827.11382484

### Exercise 2

In [ ]:
import statistics

In [ ]:
# Range

range = max(salaries) - min(salaries)
print(range)

995000.0

In [ ]:
# Coefficient of variation

data = salaries
mean = statistics.mean(salaries)
std_dev = statistics.stdev(salaries)

print((std_dev - mean)*100)

-31986288.617516

In [ ]:
# Calculate the Interquartile Range

mid_index = n // 2
if n % 2 == 0:
    lower_half = data[:mid_index]
    upper_half = data[mid_index:]
else:
    lower_half = data[:mid_index]
    upper_half = data[mid_index+1:]

Q1 = statistics.median(lower_half)
Q3 = statistics.median(upper_half)

print(Q1 - Q3)

-17500.0

In [ ]:
# Quartile Coefficient of Dispersion

mid_index = n // 2
if n % 2 == 0:
    lower_half = data[:mid_index]
    upper_half = data[mid_index:]
else:
    lower_half = data[:mid_index]
    upper_half = data[mid_index+1:]

Q1 = statistics.median(lower_half)
Q3 = statistics.median(upper_half)

print((Q3 - Q1) / (Q3 + Q1))

0.014976465554129225

### Exercise 3

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/DATA/diabetes.csv')

In [ ]:
# 1. Identify the column names
print("1. Column names:")
print(df.columns.tolist())

1. Column names:
['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome']

In [ ]:
# 2. Identify the data types of the data
print("2. Data types:")
print(df.dtypes)

2. Data types:
Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [ ]:
# 3. Display the total number of records
print(f"3. Total records: {len(df)}")

3. Total records: 768

In [ ]:
# 4. Display the first 20 records
print("4. First 20 records:")
print(df.head(20))

4. First 20 records:
    Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0             6      148             72             35        0  33.6
1             1       85             66             29        0  26.6
2             8      183             64              0        0  23.3
3             1       89             66             23       94  28.1
4             0      137             40             35      168  43.1
5             5      116             74              0        0  25.6
6             3       78             50             32       88  31.0
7            10      115              0              0        0  35.3
8             2      197             70             45      543  30.5
9             8      125             96              0        0   0.0
10            4      110             92              0        0  37.6
11           10      168             74              0        0  38.0
12           10      139             80              0        0  27.1
13            1      189             60             23      846  30.1
14            5      166             72             19      175  25.8
15            7      100              0              0        0  30.0
16            0      118             84             47      230  45.8
17            7      107             74              0        0  29.6
18            1      103             30             38       83  43.3
19            1      115             70             30       96  34.6

    DiabetesPedigreeFunction  Age  Outcome
0                      0.627   50        1
1                      0.351   31        0
2                      0.672   32        1
3                      0.167   21        0
4                      2.288   33        1
5                      0.201   30        0
6                      0.248   26        1
7                      0.134   29        0
8                      0.158   53        1
9                      0.232   54        1
10                     0.191   30        0
11                     0.537   34        1
12                     1.441   57        0
13                     0.398   59        1
14                     0.587   51        1
15                     0.484   32        1
16                     0.551   31        1
17                     0.254   31        1
18                     0.183   33        0
19                     0.529   32        1

In [ ]:
# 5. Display the last 20 records
print("5. Last 20 records:")
print(df.tail(20))

5. Last 20 records:
     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
748            3      187             70             22      200  36.4
749            6      162             62              0        0  24.3
750            4      136             70              0        0  31.2
751            1      121             78             39       74  39.0
752            3      108             62             24        0  26.0
753            0      181             88             44      510  43.3
754            8      154             78             32        0  32.4
755            1      128             88             39      110  36.5
756            7      137             90             41        0  32.0
757            0      123             72              0        0  36.3
758            1      106             76              0        0  37.5
759            6      190             92              0        0  35.5
760            2       88             58             26       16  28.4
761            9      170             74             31        0  44.0
762            9       89             62              0        0  22.5
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
748                     0.408   36        1
749                     0.178   50        1
750                     1.182   22        1
751                     0.261   28        0
752                     0.223   25        0
753                     0.222   26        1
754                     0.443   45        1
755                     1.057   37        1
756                     0.391   39        0
757                     0.258   52        1
758                     0.197   26        0
759                     0.278   66        1
760                     0.766   22        0
761                     0.403   43        1
762                     0.142   33        0
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

In [ ]:
# 6. Change the Outcome column to Diagnosis
df.rename(columns={'Outcome': 'Diagnosis'}, inplace=True)
df["Diagnosis"]

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Diagnosis, Length: 768, dtype: int64

In [ ]:
# 7. Create a new column Classification that display "Diabetes" if the value of outcome is 1 , otherwise "No Diabetes"
df['Classification'] = np.where(df['Diagnosis'] == 1, 'Diabetes', 'No Diabetes')

In [ ]:
# 8. Create a new dataframe "withDiabetes" that gathers data with diabetes
withDiabetes = df[df['Diagnosis'] == 1].copy()

In [ ]:
# 9. Create a new dataframe "noDiabetes" thats gathers data with no diabetes
noDiabetes = df[df['Diagnosis'] == 0].copy()

In [ ]:
# 10. Create a new dataframe "Pedia" that gathers data with age 0 to 19
Pedia = df[df['Age'] <= 19].copy()

In [ ]:
# 11. Create a new dataframe "Adult" that gathers data with age greater than 19
Adult = df[df['Age'] > 19].copy()

In [ ]:
# 12. Use numpy to get the average age and glucose value.
avg_age = np.mean(df['Age'])
avg_glucose = np.mean(df['Glucose'])
print("Average:")
print(f"Age: {avg_age:.2f}")
print(f"Glucose: {avg_glucose:.2f}")

Average:
Age: 33.24
Glucose: 120.89

In [ ]:
# 13. Use numpy to get the median age and glucose value.
med_age = np.median(df['Age'])
med_glucose = np.median(df['Glucose'])
print("Median:")
print(f"Age: {med_age:.1f}")
print(f"Glucose: {med_glucose:.1f}")

Median:
Age: 29.0
Glucose: 117.0

In [ ]:
# 14. Use numpy to get the middle values of glucose and age.
mid_age = np.percentile(df['Age'], 50)
mid_glucose = np.percentile(df['Glucose'], 50)
print("Middle Values:")
print(f"Age: {mid_age:.1f}")
print(f"Glucose: {mid_glucose:.1f}")

Middle Values:
Age: 29.0
Glucose: 117.0

In [ ]:
# 15. Use numpy to get the standard deviation of the skinthickness
std_skinthickness = np.std(df['SkinThickness'], ddof=1)
print(f"{std_skinthickness:.2f}")

15.95

### Conclusion

- This activity further refined my knowledge of data analysis since I already had experience with NumPy and Pandas, but I still encountered some difficulties in applying certain statistical concepts manually. Working through those challenges helped me strengthen my problem solving skills and deepen my understanding of how built-in functions simplify the process.