<a href="https://colab.research.google.com/github/NeilCaccam/CPE-311-CPE22S3---Computational-Thinking-with-Python/blob/main/SW%207.2/Seatwork_7_2_Programming_Exercise_Data_Wrangling_with_Pandas_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise Part 4:

### 1. Using the meteorite data from the Meteorite_Landings.csv file, create a pivot table that shows both the number of meteorites and the 95th percentile of meteorite mass for those that were found versus observed falling per year from 2005 through 2009 (inclusive). Hint: Be sure to convert the year column to a number as we did in the previous exercise.

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/DATA/Meteorite_Landings.csv')

df['year'] = pd.to_datetime(df['year'], errors='coerce').dt.year

# Filter for years 2005-2009
df_filtered = df[(df['year'] >= 2005) & (df['year'] <= 2009)].copy()

# Filter out rows with missing mass
df_filtered = df_filtered[df_filtered['mass (g)'].notna()]

pivot_table = df_filtered.pivot_table(
    values='mass (g)',
    index='year',
    columns='fall',
    aggfunc={
        'mass (g)': ['count', lambda x: np.percentile(x, 95)]
    }
)

pivot_table.columns = [f'{col[1]}_{col[0]}' for col in pivot_table.columns]

print(pivot_table)

        Fell_<lambda_0>  Found_<lambda_0>  Fell_count  Found_count
year
2005.0              NaN           4500.00         NaN        874.0
2006.0          25008.0           1600.50         5.0       2450.0
2007.0          89675.0           1126.90         8.0       1181.0
2008.0         106000.0           2274.80         9.0        948.0
2009.0           8333.4           1397.25         5.0       1492.0

/tmp/ipython-input-1802443597.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['year'] = pd.to_datetime(df['year'], errors='coerce').dt.year

### 2. Using the meteorite data from the Meteorite_Landings.csv file, compare summary statistics of the mass column for the meteorites that were found versus observed falling.

In [5]:
df_clean = df[df['mass (g)'].notna()].copy()

summary_stats = df_clean.groupby('fall')['mass (g)'].describe()

summary_stats['cv_%'] = (summary_stats['std'] / summary_stats['mean']) * 100

print(summary_stats[['count', 'mean', 'std', 'cv_%', 'min', '25%', '50%', '75%', 'max']])

          count      mean        std     cv_%  min    25%      50%       75%  \
fall
Fell   1,075.00 47,070.72 717,067.13 1,523.38 0.10 686.00 2,800.00 10,450.00
Found 44,510.00 12,461.92 571,105.75 4,582.81 0.00   6.94    30.50    178.00

                max
fall
Fell  23,000,000.00
Found 60,000,000.00

# Exercise Part 5:

### 1. Using the taxi trip data in the 2019_Yellow_Taxi_Trip_Data.csv file, resample the data to an hourly frequency based on the dropoff time. Calculate the total trip_distance, fare_amount, tolls_amount, and tip_amount, then find the 5 hours with the most tips.

In [10]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/DATA/2019_Yellow_Taxi_Trip_Data.csv')

df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
df = df.set_index('tpep_dropoff_datetime')

hourly = df.resample('H').agg({
    'trip_distance': 'sum',
    'fare_amount': 'sum',
    'tolls_amount': 'sum',
    'tip_amount': 'sum'
})

top_5 = hourly.nlargest(5, 'tip_amount')

print(top_5[['tip_amount']])

print("\nDetailed view:")
print(top_5)

                       tip_amount
tpep_dropoff_datetime
2019-10-23 16:00:00     12,228.64
2019-10-23 17:00:00     12,044.03
2019-10-23 18:00:00      1,907.64
2019-10-23 15:00:00         51.75
2019-10-23 19:00:00         25.74

Detailed view:
                       trip_distance  fare_amount  tolls_amount  tip_amount
tpep_dropoff_datetime
2019-10-23 16:00:00        10,676.95    67,797.76        699.04   12,228.64
2019-10-23 17:00:00        16,052.83    70,131.91      4,044.04   12,044.03
2019-10-23 18:00:00         3,104.56    11,565.56      1,454.67    1,907.64
2019-10-23 15:00:00            14.34       213.50          0.00       51.75
2019-10-23 19:00:00            98.59       268.00         24.48       25.74

/tmp/ipython-input-3299275882.py:12: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly = df.resample('H').agg({

# Conclusion

In this exercise, I learned how to apply advanced pandas techniques to extract meaningful insights from real-world datasets. By working with the meteorite data, I practiced creating pivot tables to analyze the count and 95th percentile mass of meteorites based on whether they were found or observed falling, specifically filtering for the years 2005 through 2009. This revealed clear trends in the distribution and size of meteorites based on their recovery method. For the taxi trip data, I developed skills in time series analysis by resampling the data to an hourly frequency, which allowed me to aggregate trip totals and successfully identify the 5 hours with the highest tip amounts.